* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  font-size: 14px;
}

header {
  display: flex;
  flex-flow: column nowrap;
  background: url("../img/fond_fleur.jpeg") no-repeat center;
  align-items: center;
  padding: 4em 0;
}

main > h2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-decoration: underline;
  padding: 1em 0;
}

aside {
  display: flex;
  flex-flow: column nowrap;
}

ul > li {
  cursor: pointer;
  position: relative;
  background:#d3cccc;
  padding: 1em;
  width: 100%;
}

ul li:hover {
  background: #ddd;
}

#button-add{
  align-self: center;
  cursor: pointer;
  border:none;
  padding:6px 0 6px 0;
  border-radius:8px;
  background:#d3cccc;
  width: 20%;
  margin-bottom: 1em;
}

#button-add:hover{
  background: #ddd;
}

.delete {
  color: red;
  display: flex;
  justify-content: flex-end;
}
.delete:hover{
  font-weight: bold;
  font-style: italic;
}